/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define DEFAULT 0
#define BLT 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4            &kp F5      &kp F6      &kp F7      &kp F8            &kp F9      &kp F10     &kp F11     &kp F12
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL   &kp BSPC    &kp HOME    &kp MINUS   &kp FSLH    &kp ASTRK
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT    &kp BSLH    &kp END     &kp N7      &kp N8      &kp N9
                &kp CAPS    &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp APOS        &kp ENTER           &kp DEL     &kp N4      &kp N5      &kp N6
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp PERIOD  &kp SLASH       &kp RSHFT                       &kp UP      &kp N1      &kp N2      &kp N3
                &kp LCTRL   &kp LGUI    &kp LALT    &kp E            &kp SPACE               &kp SPACE          &kp RALT    &kp K_CMENU &tog BLT    &kp M       &kp RCTRL   &kp LEFT    &kp DOWN    &kp RIGHT   &kp N0      &kp PERIOD
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
            /*
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
            C_AC_SCROLL_UP
            sensor-bindings = <&inc_dec_mwh SCROLL_DOWN SCROLL_UP>;
            &inc_dec_mwh SCROLL_RIGHT SCROLL_LEFT>;
            */
        };

        bluetooth_layer {
            bindings = <
                &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4            &kp F5      &kp F6      &kp F7      &kp F8            &kp F9      &kp F10     &kp F11     &kp F12
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL   &kp BSPC    &kp HOME  &bt BT_CLR  &out OUT_USB &out OUT_BLE
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT    &kp BSLH    &kp END     &kp N7      &kp N8      &kp N9
                &kp CAPS    &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp APOS        &kp ENTER           &kp DEL   &bt BT_SEL 4 &bt BT_SEL 5 &kp N6
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp PERIOD  &kp SLASH       &kp RSHFT                       &kp UP    &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
                &kp LCTRL   &kp LGUI    &kp LALT    &kp E            &kp SPACE               &kp SPACE          &kp RALT    &kp K_CMENU &tog BLT    &kp M       &kp RCTRL   &kp LEFT    &kp DOWN    &kp RIGHT  &bt BT_SEL 0 &kp PERIOD
            >;
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
            /*
            sensor-bindings = <&inc_dec_kp &none &none>;
            sensor-bindings = <&inc_dec_mwh SCROLL_DOWN SCROLL_UP>;
            */
        };


    };

};