if SHIELD_BEAMBOARD

config ZMK_KEYBOARD_NAME
    default "beamboard"

config SPI
    default y

config GPIO
    default y

config PINCTRL
    default y

config ZMK_EXT_POWER
    default y

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

endif
